body {
  width: 300px;
  margin: 0;
  color: #ffffff;
  background-image: url('./black-checkered-hole.jpg');
  background-position: center;
}

#queryForm > * {
  margin: 1.5rem 0 1.5rem 0;
}

input {
  color: #ffffff;

  margin-bottom: 5px;
  border-width: 0 0 0.25rem 0;
  border-color: white;
  background-color: transparent;
  text-transform: uppercase;
}

.container {
  width: 300px;
  min-height: 300px;
  padding: 70px 0;
  background-color: rgba(40, 54, 85, 0.75);
}

.section {
  text-align: center;
}

button {
  border-radius: 8px;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

#start,
#finish,
#folder {
  margin: auto;
  display: block;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
